name: Release

on:
  push:
    tags:
      - "v[0-9]+.*"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    uses: tomcant/anodos/.github/workflows/test.yml@main
    if: ${{ github.event_name == 'push' }}

  release:
    needs: test
    if: ${{ always() && (github.event_name == 'workflow_dispatch' || needs.test.result == 'success') }}
    name: Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build:
          - x86_64-linux-gnu
          - x86_64-macos
          - aarch64-macos
          - x86_64-windows-msvc
        include:
          - build: x86_64-linux-gnu
            target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - build: x86_64-macos
            target: x86_64-apple-darwin
            os: macos-latest
          - build: aarch64-macos
            target: aarch64-apple-darwin
            os: macos-latest
          - build: x86_64-windows-msvc
            target: x86_64-pc-windows-msvc
            os: windows-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
          components: llvm-tools-preview

      - uses: Swatinem/rust-cache@v2

      - name: Install cargo-pgo
        run: cargo install cargo-pgo

      - name: Build PGO instrumented binary
        run: cargo pgo build -- --target ${{ matrix.target }}

      - name: Collect PGO profiles
        run: cargo pgo run -- bench

      - name: Build optimized binary
        run: cargo pgo optimize

      - name: Package (Unix)
        run: |
          mv ./target/${{ matrix.target }}/release/anodos .
          tar -czvf anodos-${{ matrix.build }}.tar.gz ./anodos ./README.md ./LICENSE
        if: ${{ runner.os != 'Windows' }}

      - name: Package (Windows)
        run: |
          move .\target\${{ matrix.target }}\release\anodos.exe .
          7z a anodos-${{ matrix.build }}.zip .\anodos.exe .\README.md .\LICENSE
        if: ${{ runner.os == 'Windows' }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./anodos-${{ matrix.build }}.*
        if: ${{ github.event_name == 'push' }}

      - name: Upload packaged artifact
        uses: actions/upload-artifact@v6
        with:
          name: anodos-${{ matrix.build }}
          path: ./anodos-${{ matrix.build }}.*
          retention-days: 1
        if: ${{ github.event_name == 'workflow_dispatch' }}
